<div class="container">
    <div class="col-sm-12">
        <h1>Rating</h1>
        <p>Please rate your reaction in the form below</p>
        <form name="emotionForm">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">How did the image make you feel?</h3>
                </div>
                <div class="panel-body">
                    <div class="sam-container">
                        <label>
                            <img src="assets/img/verysad.png">
                            <input ng-model="$parent.currentValence" class="checkbox-inline" type="radio" name="valence" value="1"/>
                            <span>Negative</span>
                        </label>
                        <label>
                            <input ng-model="$parent.currentValence" class="checkbox-inline" type="radio" name="valence" value="2"/>
                        </label>
                        <label>
                            <img src="assets/img/sad.png">
                            <input ng-model="$parent.currentValence" class="checkbox-inline" type="radio" name="valence" value="3"/>
                        </label>
                        <label>
                            <input ng-model="$parent.currentValence" class="checkbox-inline" type="radio" name="valence" value="4"/>
                        </label>
                        <label>
                            <img src="assets/img/neutral.png">
                            <input ng-model="$parent.currentValence" class="checkbox-inline" type="radio" name="valence" value="5"/>
                            <span>Neutral</span>
                        </label>
                        <label>
                            <input ng-model="$parent.currentValence" class="checkbox-inline" type="radio" name="valence" value="6"/>
                        </label>
                        <label>
                            <img src="assets/img/smile.png">
                            <input ng-model="$parent.currentValence" class="checkbox-inline" type="radio" name="valence" value="7"/>
                        </label>
                        <label>
                            <input ng-model="$parent.currentValence" class="checkbox-inline" type="radio" name="valence" value="8"/>
                        </label>
                        <label>
                            <img src="assets/img/veryhappy.png">
                            <input ng-model="$parent.currentValence" class="checkbox-inline" type="radio" name="valence" value="9"/>
                            <span>Positive</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">How strong was the emotional reaction this picture caused in you?</h3>
                </div>
                <div class="panel-body">
                    <div class="sam-container">
                        <label>
                            <img src="assets/img/neutral.png">
                            <input ng-model="$parent.currentArousal" class="checkbox-inline" type="radio" name="arousal" value="1"/>
                            <span>Not at all</span>
                        </label>
                        <label>
                            <input ng-model="$parent.currentArousal" class="checkbox-inline" type="radio" name="arousal" value="2"/>
                        </label>
                        <label>
                            <input ng-model="$parent.currentArousal" class="checkbox-inline" type="radio" name="arousal" value="3"/>
                        </label>
                        <label>
                            <input ng-model="$parent.currentArousal" class="checkbox-inline" type="radio" name="arousal" value="4"/>
                        </label>
                        <label>
                            <input ng-model="$parent.currentArousal" class="checkbox-inline" type="radio" name="arousal" value="5"/>
                        </label>
                        <label>
                            <input ng-model="$parent.currentArousal" class="checkbox-inline" type="radio" name="arousal" value="6"/>
                        </label>
                        <label>
                            <input ng-model="$parent.currentArousal" class="checkbox-inline" type="radio" name="arousal" value="7"/>
                        </label>
                        <label>
                            <input ng-model="$parent.currentArousal" class="checkbox-inline" type="radio" name="arousal" value="8"/>
                        </label>
                        <label>
                            <img src="assets/img/veryaroused.png">
                            <input ng-model="$parent.currentArousal" class="checkbox-inline" type="radio" name="arousal" value="9"/>
                            <span>A lot</span>
                        </label>
                    </div>
                </div>
            </div>

            <button ng-click="nextImage()" class="btn btn-primary" ng-disabled="$parent.currentValence == null || $parent.currentArousal == null">Next Image</button>
        </form>
    </div>
</div>