html * {
    font-family: 'Lato';
}

html, body {
    height: 100%;
}

h1 {
    padding-top: 40px;
}

.sam-container {
    margin: 20px 0;
}

.sam-container img {
    width: 90px;
    margin-left: -10px;
}

.sam-container label {
    width: 70px;
    position: relative;
}

.sam-container span {
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    font-weight: 100;
    color: grey;
}

.sam-container label:last-child {
    padding-right: 0;
}

.img-full-height {
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
}

.btn-for-example {
    position: fixed;
    top: 20px;
    right: 20px;
}


/* ANIMATIONS for left and right
============================================================================= */
.view-animate-container {
    position: relative;
    height: auto; 
}

.view-animate {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.view-animate.ng-enter {
    transition:0.25s linear all;
    opacity:0;
}


.view-animate.ng-enter.ng-enter-active {
    opacity:1;
}

.view-animate.ng-leave {
    transition:0.25s linear all;
    opacity:1;
}


.view-animate.ng-leave.ng-leave-active {
    opacity:0;
}